form(method='POST' action='/login')
  .input-field
    label(for='email') Email
    input(type='email' name='email' required)
  .input-field
    label(for='pass') Email
    input(type='password' name='password' require)
  .input-field
    input(type='submit' value='Login')