head
  include ./includes/head.jade
body

  include ./includes/navBar.jade

  .container
    .card
      if message
        p= message
      form(method='POST' action='/login')
        .input-field
          label(for='email') Email
          input(type='email' name='email' required)
        .input-field
          label(for='pass') Password
          input(type='password' name='password' require)
        .input-field
          input.btn(type='submit' value='Login')

  include ./includes/scripts.jade